<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.member.mapper.MemberMapper">
  
  <select id="registerCheck" resultType="kr.member.entity.Member" parameterType="string">
  	SELECT * FROM mem_tbl WHERE memID = #{memID}
  </select>
  
  <insert id="register" parameterType="kr.member.entity.Memeber">
  	INSERT INTO 
  		mem_tbl(memID, memPassword, memName, memAge, memGender, memEamil, memProfile)
  		VALUES(#{memID}, #{memPassword}, #{memName}, #{memAge}, #{memGender}, #{memEmail}, #{memProfile})
  </insert>
  
</mapper>